{% if as_modal %}
<div class="modal fade" id="vmaig-auth-login" tabindex="-1" role="dialog" 
    aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog" style="width:100%">
        <div class="modal-content">
            <div class="modal-header" name="header">
                <button type="button" class="close" 
                    data-dismiss="modal" aria-hidden="true">
                    &times;
                </button>
                <h4 class="modal-title" id="myModalLabel">
                   用户登陆
                </h4>
            </div>
            <div class="modal-body clearfix">
{% else %}
<div id="vmaig-auth-login">
    <div class="panel panel-vmaig-auth">
        <div class="panel-heading" name="header">
            <h3 class="panel-title">请登陆</h3>
        </div>
{% endif %}
	<div name="error"></div>
        <form id="vmaig-auth-login-form" class="clearfix" method="post" role="form">
            {% csrf_token %}
            <div class="form-group">
                <div class="input-group">
                    <div class="input-group-addon">
                        <span class="glyphicon glyphicon-user"></span>
                    </div>
                    <input id="vmaig-auth-login-username"type="text" class="form-control">
                </div>
            </div>
            <div class="form-group">
                <div class="input-group">
                    <div class="input-group-addon">
                        <span class="glyphicon glyphicon-lock"></span>
                    </div>
                    <input id="vmaig-auth-login-password" type="password" class="form-control">
                </div>
            </div>

            <div class="form-group col-sm-12"> 
                <label for="vmaig-auth-login-captcha" class="col-sm-3" style="margin-top:10px;">验证码</label>
                <div class="input-group col-sm-9">
		  <input id="id_captcha_0" name="captcha_0" type="hidden" value="">
		  <input autocomplete="off" id="id_captcha_1" name="captcha_1" type="text">
		  <img src="" alt="captcha" class="captcha">
                </div>
            </div>
            <button id="vmaig-auth-login-button" type="submit" class="btn btn-vmaig-auth pull-left" style="margin-left:35%;width:30%">登录</button>
            <div id="vmaig-auth-forgetpassword" class="col-sm-4"><a href="/forgetpassword/">忘记密码?</a></div>
            <!-- <a href="/register" type="button" class="btn btn-vmaig-auth pull-right">注册</a>  -->
        </form>
	{% if as_modal %}
	</div></div>
	{% endif %}
    </div>
</div>


<script language="javascript" type="text/javascript">
    $('#vmaig-auth-login-form').submit(function(){
       var data = {"username":$("#vmaig-auth-login-username").val(),
                   "password":$("#vmaig-auth-login-password").val(),};

       var $captcha_img = $("#vmaig-auth-login img.captcha");
       var captcha = Captcha.get($captcha_img);
       for(key in captcha) {
           data[key] = captcha[key];
       }

       var $header = $("#vmaig-auth-login [name=header]");
        $.ajax({
            type:"POST",
            url:"/usercontrol/login",
            data:data,
            beforeSend:function(xhr){
                xhr.setRequestHeader("X-CSRFToken", $.cookie('csrftoken'));  
            },
            success:function(data,textStatus){
                var errors = data["errors"];
                var msg = data["msg"];
                if(errors && errors.length != 0) {
                    //alert(errors);
                    var html = "<div class=\"alert alert-danger\">"
                    for (var key in errors){
                        html += errors[key]+"<br/>";
                    }
                    html += "</div>";
                    $("#vmaig-auth-login [name=error]").html(html);
                } else if(msg) {
                    alert(msg);
                } else {
                    location.replace("/");
                }
                Captcha.refresh($captcha_img);
            },
            error:function(XMLHttpRequest, textStatus, errorThrown){
                alert(XMLHttpRequest.responseText);
            }
        });
        return false;
    }); 
</script>
